@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&family=Zen+Kurenaido&display=swap");

:root {
  /* colors */
  /*? primarios  */
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);
  /* Neutral */
  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
  --Dark_blue: hsl(223, 47%, 23%);
  /*tfonts  */
  --red_hat: "Red Hat Display";
  --Kurenaido: "Zen Kurenaido", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-size: 16px;
  font-family: var(--red_hat);
  background: var(--Pale_blue);
}
.bgm{
  position: absolute;
  top: 0;
  z-index: -1000000;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--Kurenaido);
}
.attribution a {
  color: var(--Desaturated_blue);
}

.Main {
  margin: 20px 20px;
  /* grid */
  display: grid;
  grid-template-columns: 1fr;
  /* wild */
  min-width: 280px;
  border-radius: 10px 10px;
  background: #fff;
}
.wrapseccion_img {
  min-width: 280px;
}
.wrapseccion__img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  font-size: 14px;
  color: var(--Desaturated_blue);
}
.textTitle {
  font-size: 1.25rem;
  font-weight: 900;
}

.text,
.textTitle {
  text-align: center;
  margin: 0.9375em;
}
.plan-container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background: var(--Very_pale_blue);
  padding: 15px;
  margin: 10px;
}
.icon-img {
}
.plan__a {
  padding: 20px;
}
.btn {
  height: 50px;
  margin: 10px;
}
.btntxt{
  font-size: 16px;
  font-weight: 700;
}
.btnPrimary {
  border-radius: 10px;
  box-shadow:  0px 5px 5px 0px rgba(253, 252, 252, 0.66);
  background: var(--Bright_blue);
  color: #fff;
}
.btnCancel {
  background: #fff;
  border: none;
  color: var(--Kurenaido);
}
.bgd{
  display: none;
  }
/* Mediaquerys */
@media (min-width: 576px) { 
  .Main{
    max-width: 375px;
  }
 .bgm{
  position: absolute;
  top: 0;
  z-index: -9990;
  width: 100%;
 }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bgd{
    display: none;
  } 
  .bgm{
    display: inline;
    position: absolute;
    top: 0;
    z-index: -111111110;
    width: 100%;
  }
  .Main{
    max-width: 375px;
    margin: 50px auto;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body{
    background: var(--Pale_blue);
  }
  .bgm{
    display: none;
  }
  .bgd{
    display: inline;
    position: absolute;
    top: 0;
    z-index: -111111111;
  }
  .Main{
    position: relative;
    max-width: 375px;
    margin: 50px auto;
  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .Main{
    position: relative;
    max-width: 375px;
    margin: 50px auto;
  }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
 

  .Main{
    position: relative;
    max-width: 375px;
    margin: 50px auto;
  }
 }